@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'JollyLodger';
  src: url('../../public/fonts/JollyLodger-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'MetalMania';
  src: url('../../public/fonts/MetalMania-Regular.ttf') format('truetype');
}

body {
  background-color: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "MetalMania";
}

h1, h2, h3, h4, h5 {
  font-family: "JollyLodger";
}


@keyframes pan {
  0% {
    transform: scale(1) translateX(0);
  }
  25% {
    transform: scale(1.3) translateX(-10%);
  }
  50% {
    transform: scale(1.3) translateX(10%);
  }
  75% {
    transform: scale(1.3) translateX(-10%);
  }
  100% {
    transform: scale(1) translateX(0);
  }
}

.animate-pan {
  animation: pan 20s linear infinite;
}