@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'JollyLodger';
  src: url('../../public/fonts/JollyLodger-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'MetalMania';
  src: url('../../public/fonts/MetalMania-Regular.ttf') format('truetype');
}

body {
  background-color: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "MetalMania";
}

h1, h2, h3, h4, h5 {
  font-family: "JollyLodger";
}

/* @font-face {
  font-family: 'JollyLodger';
  src: url('fonts/MetalMania-Regular.ttf') format('truetype');
} */